<div class="wrapper">
  <h1 class="wrapper--title">Nueva contraseña</h1>
  <div class="container input__mt input__mb">
    <label class="container--label" [for]="inputPassword">Contraseña</label>
    <input
      class="container--input"
      [type]="inputPassword"
      [id]="inputPassword"
      require
      [formControl]="newPassword"
    />
    <p
      *ngIf="isPasswordInvalid"
    >Este campos es requerido</p>
  </div>
  <app-button
      class="wrapper--button"
      [text]="contentButton"
      [type]="typeButton"
      (click)="onSave()"
    ></app-button>
</div>
