.wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper--title {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.wrapper .wrapper--img {
  display: block;
  margin: 64px auto;
}

.wrapper .wrapper--button {
  display: block;
  margin-top: 45px;
  text-align: center;
}
