<div class="wrapper">
  <h1 class="wrapper--title">Recuperar contraseña</h1>
  <div class="container input__mt input__mb">
    <label class="container--label" [for]="inputEmail">Correo</label>
    <input
      class="container--input"
      [type]="inputEmail"
      [id]="inputEmail"
      require
      [formControl]="email"
    />
    <p
      *ngIf="isEmailInvalid"
    >Este campos es requerido</p>
    <p
      *ngIf="serveError"
      class="wrapper--error"
      >
      Algo salió mal intentalo otra vez
    </p>
  </div>
  <app-button
    (click)="onSave()"
    class="wrapper--button"
    [text]="contentButton"
    [type]="typeButton"
  ></app-button>
</div>
